@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{

}

.navbar{
    align-items: center;
    
}
.navbar ul{
    list-style-type: none;
    background-color: #37782c;
    
    overflow: hidden;

    display: flex;
    justify-content: space-between;

    margin: 0;
    border: 0;
    padding: 0;

    align-items: center;

}
.navbar ul li{
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0px 50px 0px ;
    width: 50%;

}

.navbar ul li a {
    font-family: "Source Sans Pro", sans-serif;
}

.navbar ul li a{

    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;

}
.navbar ul li a:hover{
    background-color: #1f361b;
    border-radius: 25px;
    
}

.navbar ul li h2{
    margin: 0px;
}


.icon{
    width: 20%;
    height: 90%;
}

.logo{
    font-family: 'Syne Tactile', cursive;
    font-size: 30px;
    position: absolute;
    top: 22%;
    left: 3.8%;
    color: white;
}

.iconz{
    height: 90%;
    width: 5%;
    position: absolute;
    top: 0;
}

.iconx{
    height: 100%;
    width: 100%;
}

.menu{
    height: 90%;
    width: 60%;
    position: absolute;
    top: 5%;
    left: 20%;
    display: flex;
}

.menu ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li{
    padding-top: 0;
    list-style: none;
    margin-left: 10%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
}

.menu ul li ul{
    display: none;
}

.menu ul li ul:hover{
    display: block;
}

.info{
    
    width: 100%;
    height: 94%;
    position: absolute;
    left: 0;
    top: 6%;
    background: fff;
}

.slices{
    display: grid;
    height: 800px;
    width: 400px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 15px;
    position: relative;
    left:300px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

.slices_img{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0%;
    left: 0%;
}

.slices_img img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.slices_info{
    font-family: 'Source Sans Pro', sans-serif;
    width: 90%;
    height: 50%;
    position: absolute;
    top: 45%;
    left: 5%;
}

.slices_info h1{
    font-size: 32px;
    text-align: center;
}

.slices_info p{
    font-size: 21px;
    text-align: left;
    text-justify: auto;
}

.slices_info a{
    color: blue;
}

