@import url("https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



body{
    margin: 0;
}
.navbar{
    align-items: center;
    padding: 0;
    position: static;
    display: block;
}
.navbar ul{
    list-style-type: none;
    background-color: #37782c;
    
    overflow: hidden;

    display: flex;
    justify-content: space-between;

    margin: 0;
    border: 0;
    padding: 0;

    align-items: center;

}
.navbar ul li{
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0px 50px 0px ;
    width: 50%;

}

.navbar ul li a {
    font-family: "Source Sans Pro", sans-serif;
}

.navbar ul li a{

    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;

}
.navbar ul li a:hover{
    background-color: #1f361b;
    border-radius: 25px;
    
}

.navbar ul li h2{
    margin: 0px;
}

.iconx{
    margin: 0px;
    height: 40px;
    border-radius: 50%;
}

.logo {
    font-family: "Syne Tactile", cursive;
    /* font-size: 30px; */
    color: white;
  }

#tituloPag{
    font-family: 'Roboto', sans-serif;
    margin: 50px 50px 50px 150px;
    font-size: 270%;
    font-weight: 400;
    
  }

.row{
     --bs-gutter-x: 4.5rem; 
     margin-top: 80px;
}

.thumbnail{
    border: 1px solid #ccc!important;
    
    border-radius: 16px;

  }

.thumbnail img{
    border-radius: 15px 15px 0px 0px;
}
/*
.caption p{
    all: initial;
}*/
.thumbnail p{
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;


}

a{
    text-decoration: none;
    
    color: black;
}
a::hover{
    text-decoration: none;
    
    color: black;
}

.caption p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.read{
    /*all: initial;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0px;
    color: white;
    background-color: #024064;
    border-radius: 25px;
    
}
.read::hover{
    /*all: initial;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0px;
    color: white;
    background-color: #091b25;
    border-radius: 25px;
}
.divRead{
    margin: auto;
    padding: 10px 120px 0px 120px;
}
#descripcion{
    font-family: 'Roboto', sans-serif;
    margin: 50px 50px 50px 250px;
    font-size: 150%;
    font-weight: 400;
}