<!DOCTYPE html>

<html>
    <head>
        <title>Welcome to our Porject</title>
       <!-- <meta charset="UTF-8">-->
        <link rel="stylesheet" href="css/login.css"/>
    </head>
    <body>
        <div class="container">
            <video autoplay muted loop>
                <source src="videos/back.mp4" type="video/mp4">
            </video>
            <div class="navbar">
                <div class="icon">
                    <a class="iconz" href=""><img class="iconx" src="images/logo login.png"></a>
                    <h2 class="logo">ProjectZ</h2>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                    </ul>
                </div>
            </div>
            <div class="back">

            </div>
            <div class="content">
                <div class="info">
                    <h1>Welcome to our amazing Website</h1>
                    <p>You will discover the amazing world of the turism.</p>
                </div>
                <div class="login">
                    <form method="post">
                        <h2>Login Here</h2>
                        <div class="login_text_field">                        
                            <input type="email" name="email" placeholder="Enter your email">
                        </div>
                        <div class="login_text_field">                        
                            <input type="password" name="password" placeholder="Enter your password">
                        </div>
                        <button class="btn"><a href="">Login</a></button>
                        <div class="singup_link">
                            Not a member ? <a href="/signup">Signup</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
