<!DOCTYPE html>

<html>
    <head><!--<head th:replace="plantilla/template::head">-->
        <title>Turistear</title>
       <!-- <meta charset="UTF-8">-->
        <link rel="stylesheet" href="css/login.css"/>
    </head>
    <body>
        <div class="container">
            <video autoplay muted loop>
                <source src="videos/back.mp4" type="video/mp4">
            </video>
            <div class="navbar">
                <div class="icon">
                    <h2 class="logo">Turistear</h2>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="">About</a></li>
                    </ul>
                </div>
            </div>
            <div class="back">

            </div>
            <div class="content">
                <div class="info">
                    <h1>Bienvenido a este grandioso blog</h1>
                    <p>Descubriras el sorprendente mundo del turismo.</p>
                </div>
                <div class="login">
                    <form th:action="@{/login}" method="post">
                        <h2>Login Here</h2>
                        <div class="login_text_field">                        
                            <input type="text" name="username" placeholder="Ingrese su usuario">
                        </div>
                        <div class="login_text_field">                        
                            <input type="password" name="password" placeholder="Ingrese su contraseña">
                        </div>
                        <button class="btn"><a href="">Login</a></button>
                        <div class="singup_link">
                            Not a member ? <a href="/signup">Signup</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--<footer th:replace="plantilla/template::footer">-->
<!--        </footer>-->
    </body>
</html>
