<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/perfil.css"/>
          
    </head>
    <body>
        <div class="container">
            <nav class="navbar">
                <ul>
                    <li><a href="">Turistear</a></li>
                    <li><a href="/inicio">Inicio</a></li>
                    <li><a href="/Zonas">Zonas</a></li>
                    <li><a href="">Localidades</a></li>
                    <li><a href="">Acerca</a></li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="">Admin</a></li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </nav>

            <div class="split left">
                <div class="ContPP">
                    <img class="pp" src="/images/logo.png" alt="Avatar" />
                    <h2>Nombre Apellido</h2>
                    <h4>Love outdoors</h4>
                    <div></div>
                    <img class="bandera" src="/images/bandera.png" alt="Avatar" />
                </div>
                <div class = lugarYFotos>
                    <a>Places Visited</a>
                    <a>Images</a>
                </div>
                <div class = dato>
                    <a>15</a>
                    <a>5</a>
                </div>
            </div>

            <div class="split right">
                <div class="row">
                    <div class="col">
                        <img src="images/10-Ciudades-de-Costa-Rica-Imprescindibles.jpg"
                             alt="imagen" width="300">
                             </div>
                             <div class="col">
                        <img
                            src="images/mejores-playas-de-costa-rica-manzanillo-puerto-viejo.jpg"
                            alt="imagen" width="300">
                            </div>
                            <div class="col">
                        <img
                            src="images/Los-Mejores-Lugares-de-Montana-de-Costa-Rica.jpg"
                            alt="imagen"
                            width="300"
                            />
                    </div>
                </div>
                <div class="col-md-8" style="overflow-y:scroll;height:600px;">
                            <th:block th:each="imagen : ${imagen}">
                                <div class="card-body">
                                <a th:href="@{/verComentarios/{url}(url=${imagen.getName})}"><img id="pruebaimg" th:src="${imagen.getUrl}"></a>
                                    <input id="pruebaimgv" type="hidden" th:value="${imagen.getUrl}">
                            </div>
                                </th:block>
                        </div>

            </div>
        </div>
    </body>
</html>
