<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="css/signup.css">
    </head>
    <body>
        <section class="create">
            <div class="titulo">Sing up</div>
            <form th:object = "${usuario}"
                  th:action="@{/save}"
                  method="POST"
                  >
                <div class="form-group-row">
                    <label for="Nombre">Nombre</label>
                    <input type="text" th:field="*{Nombre}" id="nombre" aria-describedby="emailHelp">
                </div>

                <div class="form-group-row">
                    <label for="apellido1">Apellido</label>
                    <input type="text" th:field="*{apellido1}" id="apellido1" aria-describedby="emailHelp">   
                </div>
                
                <div class="form-group-row">
                    <label for="correo_electronico">Email</label>
                    <input type="text" th:field="*{correo_electronico}" id="correo_electronico" aria-describedby="emailHelp">   
                </div>
                <div class="form-group-row">
                    <label for="contrasena">Contraseña</label>
                    <input type="password" th:field="*{contrasena}"  id="contrasena" aria-describedby="emailHelp">   
                </div>
                <!-- comment <div class="form-group-row">
                    <label for="cpassword">Confirmar Contraseña</label>
                    <input type="password" th:field="*{cpassword}" id="cpassword" aria-describedby="emailHelp">   
                </div>-->


                <button type="submit" class="btn btn-primary" value="Guardar">Create</button>
            </form>
        </section>
    </body>
</html>