<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="css/signup.css"
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </head>
    <body>
        <header th:replace="plantilla/template::header"></header>
        <section class="create">
            <div class="titulo">Sing up</div>
            <form th:object = "${usuario}"
                  th:action="@{/save}"
                  method="POST"
                  >
                <input type="hidden" th:field="*{id_usuario}">
                <div class="form-group-row">
                    <label for="Nombre">Nombre</label>
                    <input type="text" th:field="*{Nombre}" id="nombre" aria-describedby="emailHelp">
                </div>
                <div class="form-group-row">
                    <label for="apellido1">Primer Apellido</label>
                    <input type="text" th:field="*{apellido1}" id="apellido1" aria-describedby="emailHelp">   
                </div>
                <div class="form-group-row">
                    <label for="apellido2">Segundo Apellido</label>
                    <input type="text" th:field="*{apellido2}" id="apellido2" aria-describedby="emailHelp">   
                </div>
                <div class="form-group-row">
                    <label for="username">Usuario</label>
                    <input type="text" th:field="*{username}" id="username" aria-describedby="emailHelp">   
                </div>
                <div class="form-group-row">
                    <label for="correo_electronico">Email</label>
                    <input type="text" th:field="*{correo_electronico}" id="correo_electronico" aria-describedby="emailHelp">   
                </div>
                <div class="form-group-row">
                    <label for="contrasena">Contraseña</label>
                    <input type="password" th:field="*{contrasena}"  id="contrasena" aria-describedby="emailHelp">   
                </div>
                <input type="hidden" id="active" value="1" th:field="*{active}" >
                <script>
                    document.getElementById("active").value = "1";
                </script>
                <input type="hidden" id="roles" value="USER" th:field="*{roles}" >
                <script>
                    document.getElementById("roles").value = "USER";
                </script>
                <input type="hidden" id="permissions" value="USER" th:field="*{permissions}" >
                <script>
                    document.getElementById("permissions").value = "USER";
                </script>
                <!-- comment <div class="form-group-row">
                    <label for="cpassword">Confirmar Contraseña</label>
                    <input type="password" th:field="*{cpassword}" id="cpassword" aria-describedby="emailHelp">   
                </div>-->
                <button type="submit" class="btn btn-primary" value="Guardar">Create</button>
            </form>
        </section>
    </body>
</html>